/* title */
body
{
  font-family: sans-serif;
}

/* section */
#mainSection
{
  margin-top: 3%;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
}

/* title */
h1
{
  font-weight: bold;
  font-size: 300%;
  margin: 0%;
}

h2
{
  font-weight: normal;
  font-size: 100%;
  margin: 0%;
  margin-bottom: 1%;
}

#logo
{
  width: 15%;
  height: 15%;
}

/* form */
#research_form {
  display: flex;
  padding: 0.5%;
  padding-left: 1.5%;
  width: 40%;
  height: 100%;
}

.rounded_corners
{
  border-radius: 25px;
  /*border: 2px solid rgb(138,144,100);*/
  border: 2px solid rgb(229,71,37);
}

#research_bar
{
  border: none;
  width: 90%;
  font-size: 150%;
  color: rgb(5,78,92);
}

#research_button
{
  width: 10%;
  height: 100%;
}


/* citation */
blockquote {
  font-family: Georgia, serif;
  text-align: center;
  font-size: 100%;
  font-style: italic;
  width: 100%;
  margin-top: 5%;
  color: #383838;
}

blockquote cite {
  color: #999999;
  font-size: 14px;
  display: block;
  margin-top: 10%;
}

.othersSection
{
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
}

#resultZone
{
  margin-top: 1.5%;
}


/**Affichage des resultats**/
#query_title{
	font-style:italic;
  font-weight: normal;
  font-size: 200%;
  margin-bottom: 1%;
}

table{
	width:30%;
  border-collapse: collapse;
}
table, tr, td{
	border: 1px solid black;
}
tr{
	height:50px;

}
tr:hover{
	background-color : #aaaaaa;
}
td {
	vertical-align:middle;
	text-align:center;
  cursor:pointer;
  font-size: 150%;
}
=======
img{
    max-width:500px;
	margin:50px 50px 50px 50px;
}

.flexi {
	display:flex;
}
